/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html{
     font-size: 62.5%;
     box-sizing: border-box;
}

*, *::before, *::after {
     margin: 0;
     padding: 0;
     box-sizing: inherit;
}


body {
     height: 100vh;
}


/******************************************
/* LAYOUT
/*******************************************/
.calculator{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 400px;
     background-color: black;
     border: 2px solid red;
}


.calc-screen{
     width: 100%;
     font-size: 5rem;
     height: 80px;
     border: none;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
